{%extends 'base.html'%}ā
{%block 'content'%}
<form action="" method="post">
  {%csrf_token%}
   <h4 style="text-align: center;">Login Form</h4>
   {{form.errors}}
    <div class="form-group" action="" method="post">
      <label for="exampleInputEmail">Username</label>
      <input type="text" class="form-control" name="username" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{%url 'signup'%}">New Account?</a>
</form>
{%endblock%}