{%extends 'base.html'%}
{%block 'content'%}
{%include 'nav2.html'%}
<div class="container">
    <div class="text">
        <h1>Hi {{user}},</h1>
        <p>we pride ourselves on providing comprehensive financial solutions tailored to meet your needs. With a dedication to excellence and a commitment to customer satisfaction, we offer a wide range of services and benefits to enhance your banking experience.</p>
        <h3>Our Services:</h3>
        

           <h5> Personal Banking:</h5>
            
            <p>  Convenient checking and savings accounts with competitive interest rates.
            Personalized financial planning to help you achieve your goals.
            Online and mobile banking for easy access to your accounts anytime, anywhere.</p>
            
           <h5>Business Banking:</h5> 
            
           <p> Flexible business accounts designed to support your company's growth.
            Cash management solutions to streamline your business operations.
            Commercial lending options to fund your projects and investments.</p>
            <h5>Investment Services:</h5>
            
           <p>Expert guidance from our team of financial advisors.
            Diverse investment options including stocks, bonds, and mutual funds.
            Retirement planning to secure your financial future.</p> 
            
            <h5>Mortgage and Loans:</h5>
            
            <p>Competitive mortgage rates for homebuyers and homeowners.
            Personal and business loan options with flexible terms and quick approvals.
            Refinancing solutions to help you save on interest and reduce monthly payments.
        </p>
            
    </div>
    
</div>

{%endblock%}